<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="items">
    <div class="board_list">
        <ul class="posts">
            <li th:if="${items == null || items.isEmpty()}" class="no_data"
                th:text="#{조회된_게시글이_없습니다.}"></li>

            <li th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}"
                class="item">
                <div class='photos' th:if="*{selectedImages != null && !selectedImages.empty}">
                    <div class="inner">
                        <a th:href="${@utils.redirectUrl('/board/view/' + item.seq)}"
                           th:each="image : *{selectedImages}" th:object="${image}">
                            <div th:style="*{#strings.concat('background:url(', thumbUrl ,'?seq=',seq,'&width=150&height=150) no-repeat center center; background-size: cover')}"
                                 class="photo"></div>
                        </a>
                    </div>
                    <span class="badge" th:if="*{selectedImages.size() > 1}"
                          th:text="*{#strings.concat('+', selectedImages.size() - 1)}"></span>
                </div>
                <a th:href="*{@utils.redirectUrl('/board/view/' + seq)}" class="item-link">
                    <dl class="subject">
                        <dd th:text="*{subject}"></dd>
                    </dl>

                    <dl class="product_info">
                        <dt class="product_name">
                            <dd th:text="*{text1}"></dd>
                        </dt>
                        <dt class="price">
                            <dd th:if="*{num1 == 0}" class="free" th:text="#{무료나눔}"></dd>
                            <dd th:unless="*{num1 == 0}" th:text="*{#numbers.formatInteger(num1, 1, 'COMMA')} + '원'"></dd>
                        </dt>
                    </dl>
                    <dl class="post_info">
                        <div class="view-count">
                            <dt th:text="조회수">
                            <dd th:text="*{viewCount >= 1000 ? #numbers.formatInteger(viewCount, 3, 'COMMA') : viewCount}"></dd>
                            </dt>
                        </div>
                        <dd class="post_date" th:text="*{@timeUtils.formatRelativeTime(createdAt)}"></dd>
                    </dl>
                </a>
                <a th:href="*{@utils.redirectUrl('/shop/' + member)}" class="shop-link">
                    <span class="post-info">
                    <th:block th:if="*{member != null && member.profileImage != null}">
                        <img th:src="*{@utils.getThumbUrl(member.profileImage.seq, 40, 40)}"
                             th:alt="*{#strings.concat(poster, '(', member.email, ')')}">
                    </th:block>
                        <th:block th:if="*{member != null}" th:text="*{poster}"></th:block>
                    </span>
                </a>
            </li>
        </ul>
        <!--// list_search -->
    </div>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</th:block>
</html>
