<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="items">
    <div class="board_list">
        <ul class="posts">
            <li th:if="${items == null || items.isEmpty()}" class="no_data"
                th:text="#{조회된_게시글이_없습니다.}"></li>

            <li th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}" class="item">
                <a th:href="*{@utils.redirectUrl('/board/view/' + seq)}" class="item-link">
                    <dl class="subject">
                        <dd th:text="*{subject}"></dd>
                    </dl>

                    <dl class="product_info">
                        <dt class="product_name">
                            <dd th:text="*{text1}"></dd>
                        </dt>
                        <dt class="price">
                            <dd th:if="*{num1 == 0}" class="free" th:text="#{무료나눔}"></dd>
                            <dd th:unless="*{num1 == 0}" th:text="*{#numbers.formatInteger(num1, 1, 'COMMA')} + '원'"></dd>
                        </dt>
                    </dl>
                    <dl class="post_info">
                        <dd class="view_count">
                            조회수 :
                            <dd th:text="*{viewCount >= 1000 ? #numbers.formatInteger(viewCount, 3, 'COMMA') : viewCount}"></dd>
                        </dd>
                        <dt class="post_date" th:text="*{@timeUtils.formatRelativeTime(createdAt)}"></dt>
                    </dl>
                </a>
                <a th:href="*{@utils.redirectUrl('/shop/' + member)}" class="item-link">
                    <dl class="poster_info">
                        <dd class="profile-image">
                            <img th:if="${item.member != null and item.member.profileImage != null}" th:src="@{${item.member.profileImage.fileUrl}}" alt="Profile Image">
                        </dd>
                        <dd th:text="*{poster}"></dd>
                    </dl>
                </a>
                <dd th:text="${item.member}"></dd>
                <dd th:text="${item.member.profileImage}"></dd>
            </li>
        </ul>
        <!--// list_search -->
    </div>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</th:block>
</html>
