<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dd th:fragment="view">

    <div class="container1" th:object="${boardData}">
        <dl>
            <dd th:text="*{subject}"></dd>
        </dl>
        <dl>
            <dd th:if="*{num1 == 0}" class="free" th:text="#{무료나눔}"></dd>
            <dd th:unless="*{num1 == 0}" th:text="*{#numbers.formatInteger(num1, 1, 'COMMA')} + '원'"></dd>
        </dl>
       <dl>
           <dd th:text="*{viewCount >= 1000 ? #numbers.formatInteger(viewCount, 3, 'COMMA') : viewCount}"></dd>
           <dd th:text="${wishCount}"></dd>
           <dd class="post_date" th:text="*{@timeUtils.formatRelativeTime(createdAt)}"></dd>
       </dl>
        <div class="links">
            <span th:class="${'wishlist-toggle' + (isLogin? '' : ' required-login')}" th:data-seq="*{seq}" data-type="BOARD" th:classappend="*{@wishListService.check(seq, 'BOARD')} ? 'on'">찜</span>
            <a th:href="*{@utils.redirectUrl('/order')}" th:text="#{구매}"></a>
        </div>

        <dl>
            <dd th:text="*{content}"></dd>
        </dl>

        <div class="poster_info">
            <dl>
                <dt th:text="#{상점정보}"></dt>
                <a th:href="*{@utils.redirectUrl('/shop/' + member)}" class="item-link">
                    <span class="poster_info">
                        <div class="profile-image">
                            <img th:if="${boardData.member != null and boardData.member.profileImage != null}" th:src="@{${item.member.profileImage.fileUrl}}" alt="Profile Image">
                        </div>
                        <th:block th:text="*{poster}"></th:block>
                    </span>
                </a>
            </dl>
        </div>
        <div class="links">
            <a th:if="*{showEdit}" th:href="*{@utils.redirectUrl('/board/update/' + seq)}" th:text="#{수정}" class="btn"></a>
            <a th:if="*{showDelete}" th:href="*{@utils.redirectUrl('/board/delete/' + seq)}" th:text="#{삭제}" onclick="return confirm('정말 삭제하겠습니까?');" class="btn"></a>
        </div>


    </div>  <!--// view-content -->

</th:block>
</html>