<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" th:object="${orderInfo}">
    <th:block th:if="*{payMethod == 'VBANK'}" th:replace="~{front/order/vBank/_view::view}"></th:block>

<!--    <th:block th:if="*{payMethod == 'DIRECTBANK'}" th:replace="~{front/order/vBank/_view::view}"></th:block>-->

<!--    <th:block th:if="*{payMethod == 'CARD'}" th:replace="~{front/order/vBank/_view::view}"></th:block>-->

    <div class="button-group">
        <form th:action="${@utils.redirectUrl('/')}"  method="get">
            <button type="submit" id="submitBtn" th:text="확인"></button>
        </form>
    </div>
</main>
</html>