<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <div class="container">
        <div id="mapId" class="map"></div>
        <div th:data-startMarker="*{startMarker}"></div>
        <div id="infoBox" class="info-box">
            <div id="infoContent" class="info-box-content">
                <div class="info-seq"></div>
                <iframe name="ifrmBoard" class="map_comment" th:href="${@utils.redirectUrl('/board/comment/')}"></iframe>
            </div>
        </div>
        <button id="toggleButton" class="toggle-button"> | </button>
    </div>

</main>
</html>
