<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{front/layouts/main}">

    <main layout:fragment="content">
        <div class="container">
            <div id="mapId" class="map"></div>
            <div th:data-startMarker="*{startMarker}"></div>
            <div id="infoBox" class="info-box">
                <div id="infoContent" class="info-box-content">
                    <p class="info-title" id="infoTitle" th:text="${subject != null ? subject : '게시글 제목'}">
                        게시글 제목
                    </p>
                    <p class="info-poster" id="infoPoster" th:text="${poster != null ? poster : '글쓴이'}">
                        글쓴이
                    </p>
                    <p class="info-content" id="infoContentText" th:text="${content != null ? content : '게시글 내용'}">
                        게시글 내용
                    </p>

                    <ul class="btn-group">
                        <li>
                            <a class="info-seq" th:href="${@utils.redirectUrl('/board/view/')}">
                                <img src="https://github.com/user-attachments/assets/ee5cbff7-8855-4950-8153-9acae4582203" alt="게시글 가기">
                            </a>
                        </li>
                    </ul>
                    <iframe name="ifrmBoard" class="map_comment" th:src="${@utils.redirectUrl('/board/comment/')} ? ''">

                    </iframe>
                </div>
            </div>
            <button id="toggleButton" class="toggle-button"> < </button>
        </div>

    </main>
</html>
