<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <div id="mapId"></div>
    <div th:data-startMarker="*{startMarker}"></div>
    <div id="infoBox">
        <div id="infoContent">
            <div class="img-box"></div>
            <div class="info-box">
                <p class="info-title" th:text="${subject}">기본 제목</p>
                <p class="info-content" th:text="${content}">기본 내용</p>
                <p class="info-poster" th:text="${poster}">글쓴이</p>
            </div>
        </div>
    </div>
</main>


</html>
