<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="items">

    <div th:replace="~{common/_search_top::search}"></div>
    <nav th:replace="~{front/board/default/_common::categorylink}"></nav>


        <div class="links" th:if="${mode == null || mode != 'search'}">
            <form th:action="${@utils.redirectUrl('/board/write/' + board.bid)}" method="get">
                <button type="submit" class="write_btn" th:text="#{글쓰기}"></button>
            </form>
        </div>

        <ul class="list-items">
            <li th:if="${items == null || items.empty}" th:text="#{조회된_게시글이_없습니다.}" class="no-data"></li>
            <li th:if="${items != null && !items.empty}" th:each="item : ${items}" th:object="${item}">
                <a th:href="*{@utils.redirectUrl('/board/view/' + seq )}" class="subject">
                    <span class="notice" th:if="*{notice}">
                        [<th:block th:text="#{공지}"></th:block>]
                    </span>
                    <span class="category" th:if="*{category != null && category != ''}" th:text="*{'[' + category +']'}" ></span>
                    <th:block th:text="*{subject}"></th:block>
                </a>
                <div class="post_info">
                    <span class="profile-image-container">
                        <img th:if="*{member != null and member.profileImage != null}" th:src="@{*{member.profileImage.fileUrl}}" alt="Profile Image">
                    </span>
                    <span class="poster">
                        <th:block th:if="*{member == null}" th:text="*{poster}"></th:block>
                    <th:block th:if="*{member != null && member.profileImage != null}">
                        <img th:src="*{@utils.getThumbUrl(member.profileImage.seq, 40, 40)}" th:alt="*{#strings.concat(poster, '(', member.email, ')')}">
                    </th:block>
                    <th:block th:if="*{member != null && member.profileImage == null}" th:text="*{#strings.concat(poster, '(', member.email, ')')}"></th:block>
                    </span>
                    <span class="view_count">
                        조회수 :
                        <th:block th:text="*{viewCount >= 1000 ? #numbers.formatInteger(viewCount, 3, 'COMMA') : viewCount}"></th:block>
                    </span>

                    <span class="post_date"
                          th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></span>
                </div>
                <!--// post_info -->
            </li>
        </ul>
    <!--// board_list -->
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</th:block>
</html>