<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="write">

        <div th:replace="~{front/board/default/_common::pageTitle}"></div>

        <form name="frmSave" method="POST" th:action="${@utils.redirectUrl('/board/save')}" autocomplete="off" th:object="${requestBoard}">
            <input type="hidden" name="mode" value="write">
            <input type="hidden" name="bid" th:value="${board.bid}">

            <th:block th:replace="~{front/board/default/_form::form}"></th:block>

            <div class="button-group">
                <button type="submit" id="submitBtn" th:text="#{작성완료}"></button>
                <button type="reset" id="resetBtn" th:text="#{다시입력}"></button>
            </div>
        </form>
    </th:block>
</html>