<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원 정보 수정</title>
        <link th:each="css : ${addCss}" rel="stylesheet" th:href="@{${css}}"/>
        <script th:each="script : ${addScript}" src="" th:src="@{${script}}"></script>
    </head>
    <body>
    <div class="container">
        <h1>회원 정보 수정</h1>

        <!-- 성공 메시지 -->
        <div th:if="${successMessage}">
            <p th:text="${successMessage}" class="success-message"></p>
        </div>

        <!-- 회원 정보 수정 폼 -->
        <form th:action="@{/mypage/changeInfo}" method="post" class="info-form">
            <div class="form-group">
                <label for="userName">닉네임 : </label>
                <input type="text" id="userName" name="userName" th:value="${member.userName}" required/>
            </div>

            <div class="form-group">
                <label for="password">비밀번호 : </label>
                <input type="password" id="password" name="password" th:value="${member.password}" required/>
            </div>

            <div class="form-group">
                <label for="address">주소 : </label>
                <input type="text" id="address" name="address" th:value="${member.address}" required/>
            </div>

            <div class="form-group">
                <label for="email">이메일 : </label>
                <input type="email" id="email" name="email" th:value="${member.email}" readonly/>
            </div>

            <div class="button-container">
                <button type="submit" class="button">정보 수정</button>
                <a th:href="${@utils.url('/mypage/myhome')}" class="button">마이 페이지</a>
            </div>
        </form>
    </div>
    </body>
</main>
</html>
