<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/mypage}">

    <section layout:fragment="content">

        <link rel="stylesheet" type="text/css" th:href="@{/front/css/mypage/info.css}">

        <h1 th:text="${pageTitle}"></h1>

        <form name="frmUpdate" method="POST" th:action="${@utils.redirectUrl('/mypage/info')}" autocomplete="off" th:object="${requestProfile}">

            <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

            <dl>
                <dt th:text="#{이메일}"></dt>

                <dd th:text="${loggedMember.email}"></dd>
            </dl>

            <dl>
                <dt th:text="#{닉네임}"></dt>

                <dd>
                    <input type="text" name="userName" th:field="*{userName}">

                    <div class="error" th:each="err : ${#fields.errors('userName')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{비밀번호}"></dt>

                <dd>
                    <input type="password" name="password" th:field="*{password}">

                    <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{비밀번호_확인}"></dt>

                <dd>
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">

                    <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt>주소</dt>

                <dd>
                    <div class="address-group">
                        <input type="text" id="user_postcode" placeholder="우편번호" readonly>
                        <input type="button" onclick="user_execDaumPostcode()" value="우편번호 찾기">
                    </div>

                    <input type="text" id="user_address" name="address" placeholder="주소" readonly th:field="*{address}">

                    <div class="error" th:each="err : ${#fields.errors('address')}" th:text="${err}"></div>

                    <input type="text" id="user_detailAddress" name="detailAddress" placeholder="상세주소" th:field="*{detailAddress}">

                    <div class="error" th:each="err : ${#fields.errors('detailAddress')}" th:text="${err}"></div>
                </dd>
            </dl>

            <div class="form-group-btn">
                <button type="reset" class="btn btn-reset" th:text="#{다시_입력}"></button>
                <button type="submit" class="btn" th:text="#{변경_사항_저장}"></button>
            </div>
        </form>
    </section>
</html>