<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/mypage}">

    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/front/css/mypage/myhome.css}">
    </head>

    <main layout:fragment="content">

        <h1 th:text="${pageTitle}"></h1>
        <!-- 페이지 버튼 -->
        <div class="button-container">
            <a th:href="@{/app/mypage/info}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{회원_정보}"></button>
            </a>

            <a th:href="@{/app/mypage/wishlist}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{찜_목록_보기}"></button>
            </a>

            <a th:href="@{/app/mypage/post}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{내가_쓴_글_보기}"></button>
            </a>

            <a th:href="@{/app/mypage/shop}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{상점}"></button>
            </a>
        </div>
    </main>
</html>