<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/mypage}">

    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/front/css/mypage/myhome.css}">
    </head>

    <main layout:fragment="content">

        <div class="ti">
            <h1 th:text="${pageTitle}"></h1>

            <dl>
                <dd>
                    <div class="profile-image2">

                        <div class="fileUploads inner" th:data-gid="${loggedMember.email}" data-image-only="true" data-single="true">
                            <img th:if="${myProfileImage != null}" th:object="${myProfileImage}" th:src="*{fileUrl}" alt="*{fileName}">
                        </div>
                    </div>
                </dd>
            </dl>
        </div>

        <!-- 페이지 버튼 -->
        <div class="button-container">
            <a th:href="${@utils.redirectUrl('/mypage/info')}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{회원_정보}"></button>
            </a>

            <a th:href="${@utils.redirectUrl('/mypage/wishlist')}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{찜_목록_보기}"></button>
            </a>

            <a th:href="${@utils.redirectUrl('/mypage/post')}" class="btn-wrapper">
                <button type="button" class="btn" th:text="#{내가_쓴_글_보기}"></button>
            </a>
        </div>
    </main>
</html>