<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/mypage}">

    <main layout:fragment="content">

        <link rel="stylesheet" type="text/css" th:href="@{/front/css/mypage/post.css}">

        <h1 class="pn" th:text="${pageTitle}"></h1>

        <form name="frmPost" method="post" th:action="@{/mypage/post}" autocomplete="off">

            <table class="posts-table">

                <thead>
                    <tr>
                        <th class="th1">게시글 제목</th>
                        <th class="th2">작성자명 (이메일)</th>
                        <th class="th3">조회수</th>
                        <th class="th4">작성 날짜 및 작성 시간</th>
                    </tr>
                </thead>

                <tbody>
                    <th:block th:replace="~{front/mypage/_list_items::items}"></th:block>
                </tbody>
            </table>

            <div class="pagination-container">
                <th:block th:replace="~{common/_pagination::pagination}"></th:block>
            </div>
        </form>
    </main>
</html>