<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>내가 쓴 글 보기</title>
            <link rel="stylesheet" href="/front/css/mypage/post.css">
        </head>
        <h1 th:text="#{내가_쓴_글_보기}"></h1>
        <div class="button-container">
            <a th:href="@{/mypage/myhome}">
                <button type="button" class="btn" th:text="#{마이_페이지}"></button>
            </a>
        </div>
    </main>
</html>