<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/mypage}">

    <main layout:fragment="content">

        <link rel="stylesheet" type="text/css" th:href="@{/front/css/mypage/post.css}">

        <h1 th:text="${pageTitle}"></h1>

        <form name="frmPost" method="post" th:action="@{/mypage/post}" autocomplete="off">

            <table id="postTable">

                <thead>
                    <tr>
                        <th>No.</th>
                        <th>작성자</th>
                        <th>게시글 제목</th>
                        <th>게시글 내용</th>
                        <th>작성 일자</th>
                    </tr>
                </thead>

                <tbody>

                    <th:block th:replace="~{front/mypage/_list_items::items}"></th:block>

                    <tr th:each="post, iterStat : ${items}">
                        <td th:text="${iterStat.index + 1}">번호</td>
                        <td th:text="${post.poster}">작성자</td>
                        <td th:text="${post.subject}">제목</td>
                        <td th:text="${post.content}">내용</td>
                        <td th:text="${post.formattedCreatedAt}">작성 일자</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </main>
</html>