<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>프로필</title>
        <link rel="stylesheet" th:href="@{/front/css/mypage/profile.css}">
    </head>
    <body>
        <main layout:fragment="content">
            <div class="container">
                <h1>프로필 이미지 변경</h1>

                <!-- 프로필 이미지 표시 -->
                <div class="profile-container">
                    <img id="profileImage" th:src="@{${fileUploadUrl}${member.profileImage}}" alt="Profile Image" class="profile-image">
                    <button id="editProfileImageBtn" class="button">프로필 이미지 수정</button>
                </div>

                <!-- 프로필 수정 팝업 창 -->
                <div id="profileImageModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>프로필 이미지 수정</h2>
                        <form id="profileImageForm" action="/mypage/profile" method="POST" enctype="multipart/form-data">
                            <input type="file" name="profileImage" accept="image/*" required>
                            <button type="submit" class="button">저장하기</button>
                        </form>
                        <div id="message"></div>
                    </div>
                </div>
            </div>
            <script src="/js/mypage/profile.js"></script>
        </main>
    </body>
</html>