<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="layout_width">
        <form name="frmSave" method="post" th:action="${@utils.redirectUrl('/board/save')}" autocomplete="off">
            <input type="hidden" name="mode" value="update">

            <th:block th:replace="~{front/board/_form}"></th:block>

            <div class="submit_btns">
                <button type="reset" th:text="#{다시입력}"></button>
                <button type="submit" th:text="#{수정하기}"></button>
            </div>
        </form>
    </div>
</main>
</html>