<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="layout-width">
        <div class="tables-container">
            <div class="table-wrapper">
                <table class="sell-info">
                    <thead>
                    <tr>
                        <th th:text="#{주문번호}"></th>
                        <th th:text="#{상품금액}"></th>
                        <th th:text="#{수량}"></th>
                        <th th:text="#{총금액}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.orderInfo.orderNo}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.qty}"></td>
                        <td th:text="${item.price * item.qty}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper">
                <table class="item-info">
                    <thead>
                    <tr>
                        <th th:text="#{상품정보}"></th>
                        <th th:text="#{추가정보}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.boardData.text1}"></td>
                        <td th:text="${item.boardData.num1}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper">
                <table class="order-info">
                    <thead>
                    <tr>
                        <th th:text="#{구매자}"></th>
                        <th th:text="#{이메일}"></th>
                        <th th:text="#{연락처}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.orderInfo.orderName}"></td>
                        <td th:text="${item.orderInfo.orderEmail}"></td>
                        <td th:text="${item.orderInfo.orderMobile}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper">
                <table class="order-state">
                    <thead>
                    <tr>
                        <th th:text="#{주문상태}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.orderInfo.status.getTitle}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
</html>
