<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="layout-width" th:object="${member}">
        <div class="shop-container">
            <div class="shop-info">
                <div class="shop-image">
                    <th:block th:if="${member != null && member.profileImage != null}">
                        <img th:src="${@utils.getThumbUrl(member.profileImage.seq, 100, 100)}"
                             th:alt="${#strings.concat(poster, '(', member.email, ')')}">
                    </th:block>
                </div>
                <div class="shop-details">
                    <div class="user-name">
                        <span th:text="*{userName} + '님의_상점'"></span>
                    </div>
                    <div class="email">
                        <span th:text="*{email}"></span>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="~{front/board/market/_list_items::items}"></th:block>
    </div>
</main>
<th:block th:replace="~{common/_pagination::pagination}"></th:block>
</html>