<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">

    <main layout:fragment="content">

        <div class="main_img">
            <img th:src="${imageUrl2}" alt="main img">
        </div>

        <div class="image-container">
            <img th:src="${imageUrl_D1}" alt="Market Image">
            <img th:src="${imageUrl_D2}" alt="Adopt Image">
            <img th:src="${imageUrl_D3}" alt="Sotong Image">
            <img th:src="${imageUrl_D4}" alt="Jarang Image">
            <img th:src="${imageUrl_D5}" alt="Notice Image">
            <img th:src="${imageUrl_D6}" alt="Weather Image">
            <img th:src="${imageUrl_D7}" alt="Contest Image">
        </div>
    </main>
</html>