<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">

    <main layout:fragment="content">

        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css}">
        <script th:src="@{https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js}"></script>
        <script th:src="@{/front/js/main/banner.js}"></script>

        <!-- 스와이프 -->
        <section class="main-banner">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="main_img">
                            <img th:src="${@utils.url('/common/img/main_dog.png')}" alt="main img1">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main_img">
                            <img th:src="${@utils.url('/common/img/main_dog3.png')}" alt="main img2">
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>

        <div class="image-container">

            <ul class="board-container">

                <!-- 첫 번째 게시판 항목 -->
                <li class="board-item">
                    <a th:href="@{'/board/write/' + ${boardList[0][0]}}">
                        <img th:src="${@utils.url('/common/img/walk.gif')}" alt="산책" class="board-image">
                        <h3 class="board-title" th:text="${boardList[0][1]}"></h3>
                    </a>
                </li>

                <!-- 두 번째 게시판 항목 -->
                <li class="board-item">
                    <a th:href="@{'/board/write/' + ${boardList[1][0]}}">
                        <img th:src="${@utils.url('/common/img/sotong.gif')}" alt="소통하개" class="board-image">
                        <h3 class="board-title" th:text="${boardList[1][1]}"></h3>
                    </a>
                </li>

                <!-- 세 번째 게시판 항목 -->
                <li class="board-item">
                    <a th:href="@{'/board/write/' + ${boardList[2][0]}}">
                        <img th:src="${@utils.url('/common/img/market.gif')}" alt="화개장터" class="board-image">
                        <h3 class="board-title" th:text="${boardList[2][1]}"></h3>
                    </a>
                </li>

                <!-- 네 번째 게시판 항목 -->
                <li class="board-item">
                    <a th:href="@{'/board/write/' + ${boardList[3][0]}}">
                        <img th:src="${@utils.url('/common/img/jarang.gif')}" alt="자랑하개" class="board-image">
                        <h3 class="board-title" th:text="${boardList[3][1]}"></h3>
                    </a>
                </li>
            </ul>

            <div class="link-container">

                <a href="https://www.animal.go.kr/front/index.do">
                    <img th:src="${@utils.url('/common/img/adopt.gif')}" alt="국가동물보호정보시스템">
                    <h3 class="in">국가동물보호정보시스템</h3>
                </a>

                <a href="https://weather.naver.com/">
                    <img th:src="${@utils.url('/common/img/weather.gif')}" alt="네이버 날씨">
                    <h3 class="in">날씨</h3>
                </a>

                <a href="/link/to/contest">
                    <img th:src="${@utils.url('/common/img/contest.gif')}" alt="Contest Image">
                    <h3 class="in">이달개</h3>
                </a>
            </div>
        </div>

        <div class="sub_box">

            <h2 class="tn">Hi dog 주간 Top</h2>

            <div class="sub_banner">

                <a th:href="${@utils.redirectUrl('/board/write/1')}">
                    <img th:src="${@utils.url('/common/img/Jb1.png')}" alt="sub banner1">
                </a>

                <a th:href="${@utils.redirectUrl('/board/write/4')}">
                    <img class="su" th:src="${@utils.url('/common/img/Jb2.jpg')}" alt="sub banner2">
                </a>
            </div>
        </div>

        <!-- notice -->
        <div class="notice">
            <img class="bulb" th:src="${@utils.url('/common/img/bulb.gif')}" alt="bulb">
            <h3 class="no">게시판별 최신 글</h3>
        </div>

        <!-- 게시판 최신글 -->
        <div class="new_post">

            <div class="board-section">

                <h2>
                    <a th:href="${@utils.redirectUrl('/board/list/1')}" th:text="#{산책하개}"></a>
                </h2>

                <ul>
                    <li th:each="item : ${@bInfo.getLatest('1', 10)}" th:object="${item}">
                        <a th:href="*{@bInfo.getViewUrl(seq)}" class="list-item">
                            <div class="subject" th:text="*{subject}"></div>

                            <div class="post-info">
                                <th:block th:text="*{#temporals.format(createdAt, 'yy.MM.dd')}"></th:block>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="board-section">

                <h2>
                    <a th:href="${@utils.redirectUrl('/board/list/2')}" th:text="#{소통하개}"></a>
                </h2>

                <ul>
                    <li th:each="item : ${@bInfo.getLatest('2', 10)}" th:object="${item}">
                        <a th:href="*{@bInfo.getViewUrl(seq)}" class="list-item">
                            <div class="subject" th:text="*{subject}"></div>

                            <div class="post-info">
                                <th:block th:text="*{#temporals.format(createdAt, 'yy.MM.dd')}"></th:block>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="board-section">
                <h2>
                    <a th:href="${@utils.redirectUrl('/board/list/3')}" th:text="#{화개장터}"></a>
                </h2>

                <ul>
                    <li th:each="item : ${@bInfo.getLatest('3', 10)}" th:object="${item}">
                        <a th:href="*{@bInfo.getViewUrl(seq)}" class="list-item">
                            <div class="subject" th:text="*{subject}"></div>

                            <div class="post-info">
                                <th:block th:text="*{#temporals.format(createdAt, 'yy.MM.dd')}"></th:block>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="board-section">
                <h2>
                    <a th:href="${@utils.redirectUrl('/board/list/4')}" th:text="#{자랑하개}"></a>
                </h2>

                <ul>
                    <li th:each="item : ${@bInfo.getLatest('4', 10)}" th:object="${item}">
                        <a th:href="*{@bInfo.getViewUrl(seq)}" class="list-item">
                            <div class="subject" th:text="*{subject}"></div>

                            <div class="post-info">
                                <th:block th:text="*{#temporals.format(createdAt, 'yy.MM.dd')}"></th:block>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</html>