<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="view">
    <div class="layout-width" th:object="${orderInfo}">
        <img th:src="*{@utils.url('/common/img/order/orderSucess.png')}">
        <div class="order_info">
            <table>
                <tr>
                    <th th:text="#{주문번호}"></th>
                    <td th:text="*{orderNo}"></td>
                </tr>
                <tr>
                    <th th:text="#{결제방법}"></th>
                    <td th:text="*{payMethod}"></td>
                </tr>
                <tr>
                    <th th:text="#{주문상태}"></th>
                    <td th:text="*{status.getTitle()}"></td>
                </tr>
            </table>
        </div>
        <div class="delivery_info">
            <table>
                <tr>
                    <th th:text="#{받는분_이름}"></th>
                    <td th:text="*{receiverName}"></td>
                </tr>
                <tr>
                    <th th:text="#{연락처}"></th>
                    <td th:text="*{receiverMobile}"></td>
                </tr>
                <tr>
                    <th th:text="#{배송주소}"></th>
                    <td th:text="'(' + *{zoneCode} + ') ' + *{address} + ' ' +  *{addressSub}"></td>
                </tr>
            </table>
        </div>
        <div class="item_info">
            <table>
                <tr>
                    <th th:text="#{상품명}"></th>
                    <td th:text="*{orderItem.itemName}"></td>
                </tr>
                <tr>
                    <th th:text="#{수량}"></th>
                    <td th:text="*{orderItem.qty}"></td>
                </tr>
            </table>
        </div>
    </div>
</th:block>
</html>