.ck-editor__editable {
    height: 350px;
    word-break: break-all;
}
.dn { display: none; }

/* 페이징 공통 S */
.pagination { text-align: center; margin: 30px 0; }
.pagination .page { border: 1px solid #30B1E3; color: #596b99; display: inline-block; padding: 5px 10px; border-radius: 3px; background: #fff; }
.pagination .page.on { background: #30B1E3; color: #fff; }
.pagination .page + .page { margin-left: 3px; }
/* 페이징 공통 E */

/* 프로필 이미지 스타일 S */
/* 게시글 리스트 */
.post_info .profile-image img {
    width: 30px;  /* 고정된 너비 설정 */
    height: 30px; /* 고정된 높이 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
    margin-right: 8px;
    vertical-align: middle;
}



/* 게시글 보기 - view.html */
.view-content .post-info .left img {
    width: 30px;  /* 고정된 너비 설정 */
    height: 30px; /* 고정된 높이 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
    margin-right: 8px;
    vertical-align: middle;
    padding-left: 5px;
}

.right {
    display: flex;
    color: #666666; /* 텍스트 색상 설정 */
}


.right .post_time span {
    color: #666666; /* 포스트 시간 텍스트 색상 설정 */
}

.post_time {
    margin-right: 20px;
}
/* 프로필 이미지 스타일 E */

/* 통합검색 공통 S */
/* 검색 폼 컨테이너 */
.top-box {
    float: left;
    display: flex; /* 가로로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}

/* 셀렉트 박스 스타일 */
.top-box select {
    padding: 8px 12px; /* 내부 여백 */
    font-size: 14px; /* 글꼴 크기 */
    border: 1.5px solid #e1e1e1; /* 테두리 */
    border-right: none;
    background-color: #fff; /* 배경색 */
    color: #777;
}

/* 입력 필드 스타일 */
.top-box input[type="text"] {
    flex-grow: 1; /* 가능한 공간을 모두 차지 */
    padding: 8px 12px; /* 내부 여백 */
    font-size: 14px; /* 글꼴 크기 */
    border: 1.5px solid #e1e1e1; /* 테두리 */
    border-left: none;
    border-right: none;
    outline: none; /* 포커스 시 외곽선 제거 */

}

/* 검색 버튼 스타일 */
.top-box button {
    width: 70px;
    padding: 5px; /* 내부 여백 */
    font-size: 14px; /* 글꼴 크기 */
    border: 1px solid #e1e1e1; /* 테두리 */
    border-left: none;
    background-color: #fff; /* 배경색 */
    color: white; /* 텍스트 색상 */
    cursor: pointer; /* 마우스 포인터 변경 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

/* 검색 폼의 모든 요소에 공통적으로 적용되는 스타일 */
.top-box select,
.top-box input[type="text"],
.top-box button {
    height: 40px; /* 높이 설정 */
}

/* 통합검색 공통 E */


/* 댓글 */
#frmComment { margin: 20px 0 30px; }
.commenter_info { display: flex;  margin-bottom: 5px;}
.commenter_info input { width: 120px; margin-top: 30px; font-size: 12px !important;}
.comment_content { display: flex; height: 100px; }
.comment_content button { width: 100px; background: #30B1E3; color: #fff; border: 0; cursor: pointer; font-size: 1.15rem; }
.comment_content button:hover { background-color: #27a7d9}
.comment_content textarea { flex-grow: 1; border: 1px solid #d5d5d5; padding: 10px; resize: none; }

.comment_items { margin-top: 10px; margin-bottom: 10px;}
.comment_items > li { border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px; }
.comment_items > li + li { margin-top: 10px; }
.comment_items .comment_top { display: flex; justify-content: space-between; height: 35px; align-items: center; border-bottom: 1px solid #222; margin-bottom: 10px; padding: 0 10px; }
.comment_items .comment { padding: 10px; background: #f8f8f8; border-radius: 3px; margin-bottom: 10px; }
.comment_items .comment textarea { width: 100%; height: 150px; border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px; resize: none; }
.comment_items .btns { text-align: right; }
.comment_items button, .comment_items .btns a { border: 1px solid #30B1E3; background: #fff; height: 35px; padding: 0 15px; color: #30B1E3; cursor: pointer; transition: all 0.5s; border-radius: 3px; display: inline-block; line-height: 33px; }
.comment_items button:hover, .comment_items .btns a:hover { background: #30B1E3; color: #fff; }

/* 비밀번호 문구 S */
#password-message {
    color: #666; /* 안내 문구의 색상 */
    font-size: 0.9em; /* 글자 크기 */
    margin-top: 5px; /* 입력란과 문구 사이의 간격 */
}
/* 비밀번호 문구 E */


.separator {
    color: #cccccc; /* 옅은 회색 */
    font-size: 0.6em; /* 텍스트보다 조금 작은 크기 */
    line-height: 1; /* 기본 줄 높이 설정 */
    position: relative;
    top: -3px; /* 텍스트를 약간 위로 이동 */
    padding: 0 1em; /* 양쪽으로 0.5em 여백 추가 */
}

.right .separator {
    color: #cccccc; /* 옅은 회색 */
    font-size: 0.6em; /* 텍스트보다 조금 작은 크기 */
    line-height: 1; /* 기본 줄 높이 설정 */
    position: relative;
    top: 4.5px; /* 텍스트를 약간 위로 이동 */
    padding: 0 1.5em 0 1em; /* 양쪽으로 0.5em 여백 추가 */
}

