<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

    <th:block layout:fragment="addCommonScript">
        <script src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=AMJpAtQzfg6RGV9RB1oHM3ZaCPp0T0Qx4nYhDbCZ"></script>
    </th:block>

    <main layout:fragment="content">
        <div id="map1"></div>
        <aside>
            <input type="text" th:placeholder="#{검색어를_입력하세요.}">
            <button type="submit" th:text="#{검색하기}"></button>
            <ul>
                <li>sadsa</li>
                <li>sdad</li>
            </ul>
        </aside>
    </main>
</html>

<!--    board 추가 후 참고 -->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th th:text="#{게시글_번호}"></th>-->
<!--        <th th:text="#{게시글_제목}"></th>-->
<!--        <th th:text="#{작성된_시간}"></th>-->
<!--    </tr>-->
<!--    <div>-->
<!--        <a th:href="@{/board/post}" th:text="#{글쓰기}"></a>-->
<!--    </div>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="data : ${datas}">-->
<!--        <td th:text="${data.seq}"></td>-->
<!--        <td>-->
<!--            <a th:href="@{/board/content/{seq}(seq=${data.seq})}" th:text="${data.title}"></a>-->
<!--        </td>-->
<!--        <td th:text="${data.createdAt}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->