<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입 약관</title>
</head>
<body>

<div id="termsModal">
    <span id="closeModal">&times;</span>
    <h2 th:text="#{회원가입_약관}"></h2>
    <p>효력 발생일 : 2024년 9월 2일</p>

    <h2>
        <strong>커뮤니티 이용약관에 관하여</strong>
    </h2>
    <p> HIDOG 내 커뮤니티 기능을 이용해 주시는 여러분께 감사드립니다.</p>

    <p> 본 사이트 이용약관(이하 <strong>“본 약관”</strong>)은 주식회사 HIDOG(이하 <strong>“회사”</strong>)와 회사가 제공하는 커뮤니티 기능(이하 <strong>“서비스”</strong>)를 이용하는 이용자 사이의 권리·의무 관계를 정합니다. 또한, 이용자가 서비스를 이용함에 있어 필요한 제반 사항들에 대해 설명합니다.</p>

    <p>
        <strong>본 약관에는 서비스 제공 및 이용 과정에서 회사와 이용자가 반드시 준수해야 하는 사항들이 포함되어 있으므로, 서비스를 이용하기 전에 반드시 본 약관을 주의 깊게 읽어 보시고 본 약관의 내용에 동의하시는 경우에만 서비스를 이용하시기 바랍니다. </strong>
    </p>

    <h2>
        <strong>서비스 이용에 관하여</strong>
    </h2>
    <p> 이용자는 본 약관에 동의하고 커뮤니티 기능을 이용합니다. 회사는 이용자가 반려동물과 관련된 정보나 의견을 다른 이용자들과 공유할 수 있는 기능을 제공합니다. 이용자들의 자유로운 소통과 정보 교환을 돕기 위해 이용자가 게시글을 작성하거나, 정보나 의견 등을 공유할 때 이용자가 달리 설정하지 않는 이상 닉네임, 이메일을 제외한 개인식별정보는 다른 이용자에게 공개하지 않습니다. 어떠한 경우에도 이용자의 선택이나 설정에 반하여 게시글 내에 이용자를 식별할 수 있는 개인식별정보를 포함시키지 않습니다. </p>

    <p> 이용자는 직접 프로필을 작성 및 설정할 수 있습니다. </p>

    <p> 회사는 이용자의 필요와 의견에 따라 서비스 내용을 고도화하고, 개선해 나갑니다. 이에 따라 공유할 수 있는 정보의 범위, 의견 제시의 방법, 공개 가능한 정보와 설정 방식 등이 계속해서 변경될 수 있습니다. 회사는 이러한 변경 내용을 이용자가 쉽게 이해할 수 있도록 설명합니다. </p>

    <h2>
        <strong>게시물에 관하여</strong>
    </h2>

    <h3>
        <strong>게시물의 이용</strong>
    </h3>

    <p> 서비스를 이용하는 과정에서 이용자가 직접 입력한 정보나 작성한 게시물(게시글과 이에 대한 댓글을 포함함, 이하 동일함)은 서비스를 제공하거나, 개선·홍보하고, 새로운 기능을 개발하기 위한 목적으로 이용됩니다. 만약 이용자가 제공하는 정보나 게시물이 저작권 등의 법적 보호를 받는 대상이라면 해당 저작권 등 법적 권리는 권리자가 계속 보유하며, 다만, 이용자는 위와 같은 목적을 위해 해당 정보나 게시물을 이용(저장, 수정, 복제, 공중송신, 전시, 배포, 2차적 저작물 작성 등을 포함하나 이에 한정되지 아니함)할 수 있는 권한을 관련 법령이 허용하는 범위 내에서 회사(계열사 포함)에게 부여합니다. 회사에 부여된 권한은 무상이며, 비독점적이고, 전 세계적으로 적용되며, 게시물의 성격상 특별한 사정이 없는 이상 이용자가 서비스를 탈퇴하더라도 유지됩니다. </p>

    <h3>
        <strong>제한되는 게시물과 조치</strong>
    </h3>

    <p> 회사는 이용자들의 자유로운 의견 개진과 정보 교환을 돕기 위해 노력합니다. 하지만, <strong> 다음 각 호의 게시물을 비롯하여 관련 법령에 위배되거나, 본 약관에 위반되거나, 다른 이용자, 제3자 및 회사의 권리를 해치는 게시물</strong>에 대해서는 회사가 발견 즉시 삭제하거나, 비공개 처리를 하거나, 게시를 거부하는 등 필요한 기술적 조치를 취할 수 있습니다. 다만, 회사가 이에 대한 의무를 지는 것은 아닙니다. 회사는 특정 게시물을 삭제하거나 비공개 처리하는 등 기술적 조치를 취하는 경우 이용자들이 그러한 사실을 알 수 있도록 표시합니다. </p>

    <ol>
        <li> ① 음란하거나 공공질서 또는 미풍양속에 반하는 부호ㆍ문언ㆍ음향ㆍ화상 또는 사진을 배포ㆍ판매ㆍ임대하거나 공공연하게 전시하는 내용을 포함하는 게시물 </li>
        <br>
        <li> ② 사람을 비방할 목적으로 공공연하게 사실이나 거짓의 사실을 드러내어 타인의 명예를 훼손하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ③ 공포심이나 불안감을 유발하는 부호ㆍ문언ㆍ음향ㆍ화상 또는 사진을 반복적으로 상대방에게 도달하도록 하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ④ 정당한 사유 없이 정보통신시스템, 데이터 또는 프로그램 등을 훼손ㆍ멸실ㆍ변경ㆍ위조하거나 그 운용을 방해하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑤ 청소년 보호법에 따른 청소년유해매체물로서 상대방의 연령 확인, 표시의무 등 법령에 따른 의무를 이행하지 아니하고 영리를 목적으로 제공하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑥ 법령에 따라 금지되는 사행행위에 해당하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑦ 개인정보 보호에 관한 법령을 위반하여 개인정보를 거래하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑧ 총포ㆍ화약류(생명ㆍ신체에 위해를 끼칠 수 있는 폭발력을 가진 물건을 포함)를 제조할 수 있는 방법이나 설계도 등의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑨ 법령에 따라 분류된 비밀 등 국가기밀을 누설하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑩ 범죄를 목적으로 하거나, 교사 또는 방조하는 내용의 정보를 포함하는 게시물</li>
        <br>
        <li> ⑪ 회사의 담당자 등 권한 있는 자를 사칭하거나 제3자의 명의를 모용하여 작성한 게시물</li>
        <br>
        <li> ⑫ 다른 이용자나 제3자에 대한 모욕 또는 욕설을 포함하는 게시물</li>
        <br>
        <li> ⑬ 정당한 서비스 제공 및 이용을 방해할 목적으로 동일하거나 유사한 내용을 반복적으로 게재하는 게시물</li>
    </ol>
    <br>
    <h2>
        <strong>면책</strong>
    </h2>

    <p>
        <strong> 서비스 내에 이용자가 작성하여 게시한 게시물에 대한 모든 책임은 이용자에게 있습니다. 이용자가 작성한 어떠한 게시물도 회사의 공식적인 입장이 될 수 없으며, 회사는 게시물 내용의 정확성, 유효성, 신뢰성, 진실성을 보장하거나 확인하지 않습니다. 게시물의 내용을 믿거나 추천에 따라 행동한 결과 역시 이용자의 책임이며, 회사는 이에 대해 어떠한 책임도 지지 않습니다. 이용자는 본인의 판단과 책임으로 서비스를 이용하며, 다른 이용자가 작성한 게시물의 내용을 스스로 검증하고, 판단하여야 합니다. 회사는 게시물의 내용에 관한 분쟁이나 이용자가 게시물을 신뢰하여 발생한 손해에 관한 분쟁에 개입하거나 이를 해결해야 할 의무를 지지 않습니다. </strong>
    </p>

    <h2>
        <strong>일반사항</strong>
    </h2>

    <p> 회사는 필요한 경우에 본 약관을 개정할 수 있습니다. 본 약관이 개정되는 경우 회사는 변경되는 내용과 변경일자를 공지하며, 변경일 30일 전에 이용자에게 알려, 서비스를 계속 이용할 것인지 여부를 충분히 검토하고 결정할 수 있도록 합니다. 다만, 법령의 개정, 법원 또는 규제기관의 명령 등에 따라 본 약관을 변경해야 하는 경우 사전 공지 없이 본 약관을 개정할 수 있으며, 이 경우 지체없이 이용자에게 변경된 내용을 알리겠습니다. 변경되는 약관 내용에 동의하지 않으시는 경우 서비스 이용을 중단하셔야 하며, 공지된 약관 변경일자 이후에도 서비스를 이용하시는 경우 변경된 약관 내용에 동의하시는 것으로 간주됩니다. </p>

    <h2>
        <strong>개인정보의 수집항목</strong>
    </h2>

    <p>회사는 홈페이지 회원 가입 시 회원 서비스 제공에 필요한 최소한의 정보를 수집하고 있으며 개인정보 파일에 수집되는 항목은 다음과 같습니다. - <strong>이메일, 닉네임, 주소</strong></p>

    <h2>
        <strong>개인정보 수집 목적</strong>
    </h2>

    <p>회사가 제공하는 맞춤화된 서비스 및 개발을 위해 수집합니다. 회사는 원칙적으로 이용자의 개인정보를 수집 및 이용 목적 범위 내에서 처리하며, 이용자의 사전 동의 없이는 본래의 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다.</p>

    가. 회원관리
    회원 맞춤 서비스 제공, 개인식별, 전체 서비스의 원활한 운영을 위한 관리, 회원탈퇴 의사 확인

    나. 고유서비스 이용 및 신규 개발
    예술경영지원센터에서 제공하는 컨설팅을 비롯한 각종 고유 서비스 제공의 필요 시, 신규 서비스 개발 시 의견수렴 및 안내

    3. 개인정보의 보유기간
    - 홈페이지 회원가입에 따라 수집된 개인정보 보유기간은 2년입니다.


        <div>
    <button type="button" id="agreeButton">약관 동의</button>
    </div>
</div>
</body>
</html>