h1 {
    text-align: center;
}

/* 전체 메뉴 바 */
.drop {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 50px;
}

/* 개별 메뉴 바 */
.dropdown {
    position: relative;
    display: inline-block;
}

.nav_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

/* 드르륵 하면 나오는 서브 메뉴 */
.nav_title a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #9dc5f6;
}

.dropdown:hover .dropdown-content {
    display: block;
}