<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestBoard}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <input type="hidden" name="gid" th:field="*{gid}">
    <input type="hidden" name="longText1" th:field="*{longText1}">
    <input type="hidden" name="longText2" th:field="*{longText2}">

    <div th:replace="~{front/board/walking/_common::category}"></div>

    <table>
        <tbody>
        <tr>
            <th th:text="#{작성자}" ></th>
            <td>
                <input type="text" name="poster" th:field="*{poster}" class="short-input" th:attr="readonly=${@memberUtil.isLogin != null and isLogin ? 'readonly' : null}">
                <div class="error" th:each="err : ${#fields.errors('poster')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr th:if="${isAdmin}">
            <th th:text="#{공지사항}"></th>
            <td>
                <input type="checkbox" name="notice" value="true" th:field="*{notice}" id="notice">
                <label for="notice" th:text="#{공지글로_등록하기}"></label>
            </td>
        </tr>
        <tr th:if="*{ guest }">
            <th th:text="#{비밀번호}"></th>
            <td>
                <input type="password" name="guestPw" th:field="*{guestPw}" class="short-input">
                <div class="error" th:each="err : ${#fields.errors('guestPw')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th th:text="#{제목}"></th>
            <td>
                <input type="text" name="subject" th:field="*{subject}">
                <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th th:text="#{내용}"></th>
            <td>
                <textarea name="content" th:field="*{content}" id="content"></textarea>
                <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr th:if="${board.useEditor && board.useUploadImage}">
            <th th:text="#{이미지_업로드}"></th>
            <td>
                <button type="button" class="fileUploads" th:data-gid="*{gid}"
                        data-location="editor" data-image-only="true"
                        th:text="#{이미지_선택}"></button>
                <div class="uploaded-files" id="uploaded-files-editor">
                    <div th:if="*{editorImages != null}" th:each="file : *{editorImages}" class="file-item" th:id="${'file-' + file.seq}">
                        <a th:href="${@utils.redirectUrl('/file/download/' + file.seq)}" th:text="${file.fileName}"></a>
                        <i class="xi-file-upload insert-editor" th:data-url="${file.fileUrl}"></i>
                        <i class="xi-close remove" th:data-seq="${file.seq}"></i>
                    </div>
                </div>
            </td>
        </tr>
        <tr th:if="${board.useUploadFile}">
            <th th:text="#{파일_첨부}"></th>
            <td>
                <button type="button" class="fileUploads" th:data-gid="*{gid}"
                        data-location="attach" th:text="#{파일_선택}"></button>
                <div class="uploaded-files photo-item-wrapper" id="uploaded-files-attach">
                    <div th:if="*{attachFiles != null}" th:each="file : *{attachFiles}" class="file-item" th:id="${'file-' + file.seq}">
                        <img th:src="${file.fileUrl}"></img>
                        <a th:href="${@utils.redirectUrl('/file/download/' + file.seq)}" th:text="${file.fileName}"></a>
                        <i class="xi-close remove" th:data-seq="${file.seq}"></i>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <script th:replace="~{common/_file_tpl::attach}"></script>
    <script th:replace="~{common/_file_tpl::editor}"></script>

    <div id="mapId"></div>
    <button type="button" id="reset">다시 선택</button>
    <button type="button" id="start">출발점</button>
    <button type="button" id="vias">경유</button>
    <button type="button" id="complete">완료</button>

</th:block>
</html>
