/* 기본 */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 프로필 틀 */
.ti {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

/* 제목 */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* 프로필 이미지 */
.profile-image2 {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

/* 이미지 */
.profile-image2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* 버튼 */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 30px;
}

.btn-wrapper {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    color: #fff;
    background-color: #30B1E3;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* 클릭 시 색상 변경 */
.btn:hover {
    background-color: #27a7d9;
}

.btn:focus {
    outline: none;
}