/* 기본 */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 프로필 틀 */
.ti {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

/* 프로필 이미지 */
.profile-image2 {
    position: relative;
    margin-top: 30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #555;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
}

.profile-image2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 0;
}

/* 버튼 */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 30px 0 50px 0;
}

.btn-wrapper {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    color: #fff;
    background-color: #30B1E3;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* 클릭 시 색상 변경 */
.btn:hover {
    background-color: #27a7d9;
}

.btn:focus {
    outline: none;
}