* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 10px 0 15px 0;
    margin-top: 10px;
}

/* 제목 */
h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin: 0 0 20px 0;
}

/* 게시글 목록 */
#postTable {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
}

#postTable thead {
    background-color: #72A2F1;
}

#postTable th, #postTable td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

#postTable th {
    color: white;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#postTable td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    background-color: #f9f9f9;
}

#postTable td a {
    color: #007bff;
    text-decoration: none;
}

#postTable td a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #postTable {
        width: 100%;
    }

    #postTable th, #postTable td {
        display: block;
        text-align: left;
    }

    #postTable thead {
        display: none;
    }

    #postTable tr {
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        display: block;
        padding: 10px;
        background-color: #fff;
    }

    #postTable td {
        display: block;
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    #postTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
        background-color: #f9f9f9;
    }
}