/* 제목 */
.pn {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #30B1E3;
    background-color: white;
    padding: 5px;
}

/* 테이블 */
.posts-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.posts-table th, .posts-table td {
    padding: 10px;
    text-align: center;
}

/* 테이블 맨 윗 줄 */
.posts-table th {
    background-color: #30B1E3;
    color: white;
    font-weight: bold;
}

/* 표 왼쪽 위 모서리 */
.posts-table .th1 {
    border-top-left-radius: 10px;
}

/* 표 오른쪽 위 모서리 */
.posts-table .th4 {
    border-top-right-radius: 10px;
}

.posts-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.posts-table tr:hover {
    background-color: #27a7d9;
}

.posts-table .no-data td {
    text-align: center;
    font-size: 16px;
    color: #999;
    padding: 20px;
}

.pagination-container {
    text-align: center;
    margin: 20px 0;
}

/* 페이지 번호 스타일 (선택 사항) */
.pagination-container a {
    text-decoration: none;
    color: white;
    background-color: #30B1E3;
    border-color: #30B1E3;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 5px;
}

.pagination-container a:hover {
    text-decoration: underline;
}