<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="items">

    <nav th:replace="~{front/board/gallery/_common::categorylink}"></nav>

    <ul class="list-items">
        <li th:if="${items == null || items.empty}" th:text="#{조회된_게시글이_없습니다.}" class="no-data"></li>
        <li th:if="${items != null && !items.empty}" th:each="item : ${items}" th:object="${item}">
            <a th:href="*{@utils.redirectUrl('/board/view/' + seq)}" class="subject">
                <span th:if="*{notice}" th:text="${'[' + #messages.msg('공지') + ']'}"></span>
                <span th:if="*{category != null && category != ''}" th:text="*{'[' + category + ']'}" class="category"></span>
                <th:block th:text="*{subject}"></th:block>
            </a>
            <div class='photos' th:if="*{selectedImages != null && !selectedImages.empty}">
                <div class="inner">
                    <a th:href="${@utils.redirectUrl('/board/view/' + item.seq)}" th:each="image : *{selectedImages}" th:object="${image}">
                        <div th:style="*{#strings.concat('background:url(', thumbUrl ,'?seq=',seq,'&width=150&height=150) no-repeat center center; background-size: cover')}" class="photo"></div>
                    </a>
                </div>
                <span class="badge" th:if="*{selectedImages.size() > 1}" th:text="*{#strings.concat('+', selectedImages.size() - 1)}"></span>
            </div>
            <div class="post-info">
                <span class="poster" id="profile-image-container">
                        <th:block th:if="*{member == null}" th:text="*{poster}"></th:block>
                    </span>
                <span class="view-count" th:if="*{viewCount > 0}"
                    th:text="*{viewCount < 1000 ? viewCount : #numbers.formatInteger(viewCount, 3, 'COMMA')}"></span>
                <span class="datetime" th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></span>
            </div> <!--// post-info -->
        </li>
    </ul>

    <div th:replace="~{common/_search_top::search}"></div>

    <div class="links" th:if="${mode == null || mode != 'search'}">
        <form th:action="${@utils.redirectUrl('/board/write/' + board.bid)}" method="get">
            <button type="submit" class="write_btn" th:text="#{글쓰기}"></button>
        </form>
    </div>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</th:block>
</html>