/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); /* 나눔 고딕 변경 */

/* 기본 공통 */
* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box; outline: none; letter-spacing: -1px;}
html { font-size: 14px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }

/* 레이아웃 공통 */
.layout-width {
    max-width: 1100px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

/* 파일 공통 S */
.image-file-box {
    border: 2px solid #000;
    width: 204px;
    position: relative;
}

.image-file-box + .image-file-box {
    margin-left: 10px;
}

.image-file-box > .inner {
    width: 200px;
    height: 200px;
}

.image-file-box .remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
}
/* 파일 공통 E */

/* 프로필 공통 S */
.my-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.my-profile-image > .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 프로필 공통 E */

/* 찜하기 */
.wishlist-toggle {
    cursor: pointer;
}

.wishlist-toggle.on {
    color: blue;
}

/* 파일 공통 S */
.photo-item-wrapper {
    display: flex;
}

.photo-item .bg {
    width: 150px;
    height: 150px;
}

.photo-item + .photo-item {
    margin-left: 5px;
}

.photo-item .select {
    border: 1px solid #000;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}
.photo-item .select.on {
    background: #000;
    color: #fff;
}
/* 파일 공통 E */

/* 헤더 영역 S */
header {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

/* 로고, 제목, 드롭다운 메뉴 바 */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* 로고 및 제목 */
.logo-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding-top: 5px;
    padding-left: 30px;
}

.logo img {
    margin-right: 10px;
    width: 180px;
}

/* 버튼 */
.mm {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    gap: 10px;
}

.menus {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* 메뉴 항목 */
.menus li {
    margin-left: 10px;
}

/* 링크 */
.hba {
    text-decoration: none;
}

/* 버튼 */
.hb {
    background-color: #30B1E3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button.hb:hover {
    background-color: #27a7d9;
}

/* 로그인, 회원가입, 로그아웃, 마이 페이지, 관리자 페이지 */
.iL {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

/* 드롭 다운 메뉴 바 */
.drop {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
}

.dropdown {
    position: relative;
}

/* 드롭 다운 메뉴바 글씨 */
.nav_title {
    display: flex;
    align-items: center;
    height: 40px;
}

.nav_title a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
}

.nav_title:hover a {
    color: #30B1E3;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin-left: 12px;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 10px 0;
}

.dropdown-content li a {
    padding: 10px;
    text-decoration: none;
    color: #878787;
}

.dropdown-content li a:hover {
    color: #30B1E3;
}
/* 헤더 영역 E */

/* 푸터 영역 S */
footer {
    background: #f9f9f9;
    padding: 25px 0 20px;
    margin-top: 350px; /* 푸터를 화면 하단으로 이동 */
    text-align: center;
    width: 100%;
    display: block;
}

footer .I {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 12px;
    display: block;
    text-decoration: none; /* 링크 기본 스타일 제거 */
    color: inherit; /* 부모의 색상 상속 */
}

footer .center_phone {
    border: 2px solid #2a2a2a;
    border-radius: 20px;
    height: 35px;
    line-height: 31px;
    width: 190px;
    display: block;
    margin: 0 auto 7px;
    font-size: 1.538rem;
    font-weight: 800;
    text-align: center;
    text-decoration: none; /* 링크 기본 스타일 제거 */
    color: inherit; /* 부모의 색상 상속 */
}

footer .choongang-info, footer .company-info {
    font-size: 0.923rem;
    color: #2a2a2a;
    text-align: center;
}

footer .company-info {
    margin: 3px 0 8px;
    font-weight: 600;
    color: #878787;
}

footer .links {
    text-align: center;
}

footer .links a {
    font-size: 0.846rem;
    padding: 0 11px;
    color: #878787;
    position: relative;
    text-decoration: none; /* 링크 기본 스타일 제거 */
}

footer .links a:not(.last)::after {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    background: #878787;
    position: absolute;
    right: 0;
    top: 4px;
}
/* 푸터 영역 E */

.submitBtn {
    color: #0064C5;
}

.cancelBtn {
    color: #BBBBBB;
}

