<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <footer th:fragment="common">

        <a class="I">
            ฅ(՞៸៸> ᗜ < ៸៸՞)ฅ 축! 중앙정보처리학원 1조 프로젝트 완성 ( ܸ ⩌⩊⩌ ܸ )
        </a>

        <a href="tel : 02) 313 - 1711" class="center_phone">
            <img th:src="${callUrl}" alt="전화번호">
            02.313.1711
        </a>

        <div class="choongang-info">
            학원 주소 : 서울특별시 마포구 신촌로 176 502호 (주) 중앙정보처리학원
        </div>

        <div class="company-info">
            중앙정보처리학원 이대점
        </div>

        <div class="links">
            <a href="https://www.choongang.co.kr/">학원 소개</a>
            <a href="#">힘들엇다</a>
            <a href="#">수고햇어 모두</a>
            <a href="#" class="last">프로젝트 끝났다고 카톡 읽씹하면 화낼거야</a>
        </div>
    </footer>
</html>