<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <footer th:fragment="common">

        <div class="choongang-info">
            주소 : 서울특별시 마포구 신촌로 176 502호 (주) HI-DOG
        </div>

        <div class="company-info">
            HI DOG(강아지 커뮤니티)
        </div>

        <div class="links">
            <a href="https://www.choongang.co.kr/">학원 소개</a>
            <a href="#">이용약관</a>
            <a href="#">고객센터</a>
            <a href="#" class="last">HI DOG 대표: 김선규</a>
        </div>
    </footer>
</html>