<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="common">

        <h1 class="hn">Hi Dog</h1>

        <nav>
            <ul class="menus">

                <li th:block class="iL" th:if="${isLogin == null || !isLogin}">

                    <a class="hba" th:href="${@utils.redirectUrl('/member/login')}">
                        <button type="submit" class="hb" th:text="#{로그인}"></button>
                    </a>

                    <a class="hba" th:href="${@utils.redirectUrl('/member/join')}">
                        <button type="submit" class="hb" th:text="#{회원가입}"></button>
                    </a>
                </li>

                <li th:block class="iL" th:if="${isLogin != null && isLogin}">

                    <a class="hba" th:href="${@utils.redirectUrl('/member/logout')}">
                        <button type="submit" class="hb" th:text="#{로그아웃}"></button>
                    </a>

                    <a class="hba" th:href="${@utils.redirectUrl('/mypage')}">
                        <button type="submit" class="hb" th:text="#{마이_페이지}"></button>
                    </a>

                    <a class="hba" sec:authorize="hasAnyAuthority('ADMIN')" th:href="${@utils.redirectUrl('/admin')}" target="_blank">
                        <button type="submit" class="hb" th:text="#{관리자_페이지}"></button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</html>