<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="common">

        <div class="logo-container">
            <div class="logo">
                <img th:src="${imageUrl}" alt="Hi Dog Logo">
            </div>

            <h1 class="hn">Hi Dog</h1>
        </div>

        <div class="drop">

            <!-- 지도 -->
            <div class="dropdown">
                <div class="nav_title"><a onclick="alert('상단 메뉴 바의 게시판 중 하나를 선택해주세요.')" th:text="#{맵}"></a></div>

                <ul class="dropdown-content">
                    <li><a th:href="${@utils.redirectUrl('/walking/map')}" th:text="#{맵}" /></li>
                </ul>
            </div>

            <!-- 게시판 -->
            <div class="dropdown">
                <div class="nav_title"><a onclick="alert('상단 메뉴 바의 게시판 중 하나를 선택해주세요.')" th:text="#{산책하개}"></a></div>

                <ul class="dropdown-content">
                    <li><a th:href="${@utils.redirectUrl('/board/list/1')}" th:text="#{산책하개}" /></li>
                </ul>
            </div>

            <div class="dropdown">
                <div class="nav_title"><a onclick="alert('상단 메뉴 바의 게시판 중 하나를 선택해주세요.')" th:text="#{소통하개}"></a></div>

                <ul class="dropdown-content">
                    <li><a th:href="${@utils.redirectUrl('/board/list/2')}" th:text="#{소통하개}" /></li>
                </ul>
            </div>

            <div class="dropdown">
                <div class="nav_title"><a onclick="alert('상단 메뉴 바의 게시판 중 하나를 선택해주세요.')" th:text="#{화개장터}"></a></div>

                <ul class="dropdown-content">
                    <li><a th:href="${@utils.redirectUrl('/board/list/3')}" th:text="#{화개장터}" /></li>
                </ul>
            </div>

            <div class="dropdown">
                <div class="nav_title"><a onclick="alert('상단 메뉴 바의 게시판 중 하나를 선택해주세요.')" th:text="#{자랑하개}"></a></div>

                <ul class="dropdown-content">
                    <li><a th:href="${@utils.redirectUrl('/board/list/4')}" th:text="#{자랑하개}" /></li>
                </ul>
            </div>
        </div>

        <nav>
            <ul class="menus">

                <li th:block class="iL" th:if="${isLogin == null || !isLogin}">

                    <a class="hba" th:href="${@utils.redirectUrl('/member/login')}">
                        <button type="submit" class="hb" th:text="#{로그인}"></button>
                    </a>

                    <a class="hba" th:href="${@utils.redirectUrl('/member/join')}">
                        <button type="submit" class="hb" th:text="#{회원가입}"></button>
                    </a>
                </li>

                <li th:block class="iL" th:if="${isLogin != null && isLogin}">

                    <a class="hba" th:href="${@utils.redirectUrl('/member/logout')}">
                        <button type="submit" class="hb" th:text="#{로그아웃}"></button>
                    </a>

                    <a class="hba" th:href="${@utils.redirectUrl('/mypage')}">
                        <button type="submit" class="hb" th:text="#{마이_페이지}"></button>
                    </a>

                    <a class="hba" sec:authorize="hasAnyAuthority('ADMIN')" th:href="${@utils.redirectUrl('/admin')}" target="_blank">
                        <button type="submit" class="hb" th:text="#{관리자_페이지}"></button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</html>